
/************ Styling for body *************/
body {
  background-color: #d9d9d9;
}

/************ Styling for heading section ***********/
.headingSection {
  height: 150px;
  background-color: #e6b219;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************* Styling for side bar **************/
.sideBar {
  background-color: #97C977;
  width: 300px;
  height: 400px;
  float:left;
  margin-top: 30px;
  margin-left: -40px;
  padding-left: 20px;
  position: fixed;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: 35px;
}

.titles {
  color: #ffd56f;
}

.sideBar #levelTwo, #name {
  font-weight: bold;
  font-size: 17px;
  color: white;
}

hr {
margin-right: 20px;
}
a {
  font-weight: bold;
}

/************ Styling for mainContainer ***********/
.mainContainer {
  float: right;
  margin-top: 20px;
  margin-right: 300px;
}

.mainContainer p, li {
  font-size: 15px;
}

.orderListContainer {
  margin-top: 10px;
  margin-bottom: 30px;
}

/************ Styling for result section ***********/
.result {
  margin-top: 50px;
  margin-left: 350px;
}
